<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HEALTH</title>

<!--    <meta name="_csrf" th:content="${_csrf.token}" />-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}" />-->

    <!--    공통으로 사용할 css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-training-studio.css}">
</head>
<body>
    <div class="container-scroller">
        <div th:replace="~{'fragments/header' :: header}"></div>
        <div layout:fragment="content" class="content" id="content"></div>
        <div th:replace="~{'fragments/footer' :: footer}"></div>
    </div>

<!-- jQuery -->
<script th:src="@{/js/jquery-2.1.0.min.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/js/scrollreveal.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/imgfix.min.js}"></script>
<script th:src="@{/js/mixitup.js}"></script>
<script th:src="@{/js/accordions.js}"></script>

<!-- Global Init -->
<script th:src="@{/js/custom.js}"></script>
</body>
</html>